html,
body {
	margin: 0;
	padding: 0;
}
body {
	display: flex;
	height: 100%;
	justify-content: center;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

* {
	box-sizing: border-box;
	/* border: 1px dashed red; */
}

.container {
	padding: 10px 15px;
	width: 400px;
	max-height: 800px;
	margin-top: 10px;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
	background: url("bg-pullcard.png");
	background-size: cover;
	background-position: right;
}

.keyboard {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	/* align-items: flex-end; */
	height: 100%;
	/* border: 1px solid red; */
	/* align-content: flex-end; */
	padding-top: 0;
	margin: 20px 0 30px 0;
	flex-direction: column;
}

.keys {
	/* padding: 12px 18px; */
	width: 45px;
	height: 45px;
	background-color: whitesmoke;
	border-radius: 5px;
	margin: 3px;
	font-size: 20px;
	border: none;
	box-shadow: 5px 5px 10px gray;
}

.letterDisplay {
	font-size: 100px;
	margin: 0;
	margin-left: -5px;
	text-shadow: 3px 3px 5px lightslategray;
}

.display-image {
	width: 100%;
	height: 350px;
	object-fit: cover;
	border-radius: 10px;
	object-position: top;
	box-shadow: 5px 5px 10px gray;
}

.keys:active,
.keys:hover {
	background-color: slategray;
	color: whitesmoke;
}

.item-name {
	margin-top: 0;
	font-size: 20px;
	text-shadow: 3px 3px 5px lightslategray;
}

.categories {
	display: flex;
	justify-content: space-around;
}

.keys-div {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.category-btn {
	margin-bottom: 10px;
	min-width: 100px;
	min-height: 30px;
	border: none;
	border-radius: 5px;
	font-size: 20px;
	padding: 8px 16px;
	box-shadow: 5px 5px 10px gray;
}

.category-btn:active,
.category-btn:hover {
	background-color: slategray;
	color: whitesmoke;
}

.footer-text {
	text-shadow: 3px 3px 5px lightslategray;
	text-align: center;
}
