html,
body {
	margin: 0;
	padding: 0;
}
body {
	display: flex;
	height: 100%;
	justify-content: center;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

* {
	box-sizing: border-box;
	/* border: 1px dashed red; */
}

.container {
	border: 1px solid lightslategray;
	padding: 10px 15px;
	width: 400px;
	height: 800px;
	margin-top: 0px;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.keyboard {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-end;
	height: 100%;
	/* border: 1px solid red; */
	align-content: flex-end;
	padding-top: 0;
	margin-top: 0;
}

.keys {
	padding: 12px 18px;
	background-color: whitesmoke;
	border-radius: 5px;
	margin: 3px;
	font-size: 20px;
}

.letterDisplay {
	font-size: 100px;
	margin: 0;
}

.display-image {
	width: 100%;
	height: 350px;
	object-fit: cover;
	border-radius: 10px;
	object-position: top;
}
